/* 1024px for small laptops */
@media (max-width: 1024px){

}

/* 768px for tablets */
@media (max-width: 1024px){
    nav{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 99;
        padding: 20px 20px;
    }

    .nav-wrapper{
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        height: 100vh;
        width: 80%;
        z-index: 99;
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }

    .menu-open{
        transform: translate(0);
    }

    .nav-links{
        flex-direction: column;
        margin-top: 50px;
        
    }

   

    .nav-links a{
        color: black;
        display: block;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    }
    .nav-links a:hover, .nav-links .active{
        color: black;
    }

    .menu-btn{
        display: block;
        font-family: 24px;
    }
    .btn-header{
        display: none;
    }

    #close-btn{
        position: absolute;
        top: 15px;
        left: 23px;
    }

    #open-btn{
        background-color: red;
        padding: 4px 6px;
        border: none;
        border-radius: 6px;
        color: white !important;

    }

    .hero-section .hero-content{
        margin-top: 15%;
        padding: 40px 80px;
    }


    .contact-section .contact-container{
        flex-direction: column-reverse;
    }
}

