@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

.cta-btn{
    padding: 15px 25px;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 30px;
    display: inline-block;
    transition: all 0.3s ease;
}

.logo{
    width: 140px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    height: 80px;
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: white;
    width: 100%;
}

.hero-section{
    height: 100vh;
    background: linear-gradient(rgba(22,36,86,0.7),rgba(22,36,86,0.7)),url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links a{
    color: white;
    font-size: 16px;
    padding: 0 30px;
    font-weight: 600;
    transition: 0.3s ease;
}

.fixed-nav a{
    color: black;
}

.nav-links a:hover, .nav-links .active{
    color: red;
}

.btn-header{
    background-color: red;
    color: white !important;
}

.menu-btn{
    display: none;
}


.hero-section .hero-content{
    max-width: 750px;
    margin-top: 5%;
    padding: 0 80px;
}

.hero-section .hero-content h1{
    color: white;
    font-size: 52px;
    margin: 15px 0;
}

.hero-section .hero-content p{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.hero-section .hero-content .btn-left{
    background: linear-gradient(to right, red, rgb(241, 114, 114));
}

.hero-section .hero-content .btn-right{
    background: linear-gradient(to right, rgb(241, 114, 114), red);
}




/* TESTIMONIALS SECTION */
.testimonials-section{
    margin: 50px 0;
}

.testimonials-section .testimonials-header{
    text-align: center;
    color: black;
}

.testimonials-section .testimonials-header h1{
    font-size: 36px;
}

.testimonials-section .testimonials-header p{
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonials-section .testimonials-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.testimonials-section .testimonials-container .testimonials-card{
    background-color: #f7f7f7;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}


.testimonials-section .testimonials-container .testimonials-card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid white;
}

.testimonials-section .testimonials-container .testimonials-card p{
    font-size: 14px;
    color: rgb(27, 26, 26);
}

.testimonials-section .testimonials-container .testimonials-card p:first-of-type{
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.testimonials-section .testimonials-container .testimonials-card .stars{
    color: gold;
    font-size: 18px;
    margin: 15px 0;
}


/* WHATSAPP SECTION */
.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp img{
    width: 40px;
}





/* FOOTER SECTION */
footer{
    margin-top: 50px;
    max-width: 1400px;
    width: 100%;
    background-color: black;
    color: white;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 60px 60px;
}

.footer-container h3{
    margin-bottom: 20px;
}

.footer-container .address .contact-details p{
    margin-bottom: 15px;
    color: gray;
}

.footer-container .links .link-details ul{
    list-style: none;
}

.footer-container .links .link-details ul li{
    margin-bottom: 15px;
    
}

.footer-container .links .link-details ul li a{
    color: gray;
    transition: 0.3s ease;
}

.footer-container .links .link-details ul li a:hover{
    color: red;
}

.footer-container .services-links .services-details ul{
    list-style: none;
}

.footer-container .services-links .services-details ul li{
    margin-bottom: 15px;
}

.footer-container .services-links .services-details ul li a{
    color: gray;
    transition: 0.3s ease;
}

.footer-container .services-links .services-details ul li a:hover{
    color: red;
}

.footer-container .socials .social-icons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-container .socials .social-icons a{
    background-color: white;
    color: black;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solide black;
    transition: 0.3s ease;
}

.footer-container .socials .social-icons a:hover{
    background-color: red;
    color: white;
}

.privacy{
    margin-top: 80px;
}

.privacy a{
    color: gray;
}

.footer-bottom{
    padding: 20px 60px;
}
.footer-bottom p{
    text-align: center;
    
}


/* CONTACT SECTION */

.contact-section{
    margin: 50px 0;
    
}
.contact-section h1{
    text-align: justify;
    margin-left: 90px;
    padding: 5px 0;
}

.contact-section .contact-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
}

.contact-section .contact-container .form-container{
    margin-top: 40px;
    flex: 1.5;
    background-color: #f7f7f7;
    padding: 40px 100px;
    height: 100vh;
}

.contact-section .contact-container .form-container .input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid gray;
}
.contact-section .contact-container .form-container textarea{
    height: 200px !important;
    resize: none !important;
    padding: 10px 15px !important;
}

.contact-section .contact-container .contact-details{
    flex: 1;
    background: black;
    padding: 20px 40px;
    height: 120vh;
    color: white;
    text-align: center;
}

.contact-section .contact-container .contact-details h2{
    padding: 20px 0;
    font-size: 24px;
}

.contact-section .contact-container .contact-details p:first-of-type{
    padding-bottom: 30px;
    border-bottom: 1px solid red;
}

.contact-section .contact-container .contact-details .contact-info i{
    margin-bottom: 15px;
}
.contact-section .contact-container .contact-details .contact-info h3{
    margin-bottom: 20px;
}