@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins" sans-serif;
}

body{
    font-family: "Poppins" sans-serif;
}

a{
    text-decoration: none;
}


.cta-btn {
  appearance: none;
  background-color: red;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.cta-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.cta-btn:hover {
  background-color: red;
}

.cta-btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.cta-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.cta-btn:active {
  background-color: red;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.menu-btn{
    display: none;
}

/* *********************** HEADER *********************** */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 20px 40px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
}

.logo{
    width: 140px;
}

.nav-links{
    display: flex;
}

.nav-links li{
    list-style: none;
    padding:  0 30px;
}

.nav-links li a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-links li a:hover, .nav-links .active{
    color: red;
}


/* *********************** HERO-SECTION *********************** */

.hero-section{
    background: linear-gradient(rgba(22,86,38, 0.7),rgba(22,86,36,0.5)),url(./Images/hero\ new.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    color: white;
}

.hero-section .hero-content{
    width: 700px;
    margin: auto 60px;
}

.hero-section .hero-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-section .hero-content h1 span{
    color: #E10600;
}

.hero-section .hero-content p{
    font-size: 20px;
    line-height: 1.5;
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 20px;
}