@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins" sans-serif;
}

body{
    font-family: "Poppins" sans-serif;
}

a{
    text-decoration: none;
}


.cta-btn {
  appearance: none;
  background-color: red;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.cta-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.cta-btn:hover {
  background-color: red;
}

.cta-btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.cta-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.cta-btn:active {
  background-color: red;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.cta-btn1{
    background-color: red;
    padding: 16px 20px;
    color: #ffffff;
    border: 3px double white;
    display: inline-block;
    text-decoration: none;
    margin: 10px auto;
}

.cta-btn1:hover{
    background-color: transparent;
    color: white;
    transition: 0.6s ease;
    border: 3px double red;
}

.cta-btn2{
    background-color: red;
    padding: 16px 20px;
    color: #ffffff;
    border: 3px double white;
    display: inline-block;
    text-decoration: none;
    margin: 10px auto;
}

.cta-btn2:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
    border: 3px double red;
}
.cta-btn3{
    background-color: transparent;
    padding: 16px 20px;
    color: black;
    border: 3px double black;
    display: inline-block;
    text-decoration: none;
    margin: 10px auto;
    font-size: 18px;
}

.cta-btn3:hover{
    background-color: red;
    color: white;
    transition: 0.6s ease;
    border: 3px double white;
}

.menu-btn{
    display: none;
}

/* *********************** HEADER *********************** */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
}

.logo{
    width: 140px;
}

.nav-links{
    display: flex;
}

.nav-links li{
    list-style: none;
    padding:  0 30px;
}

.nav-links li a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-links li a:hover, .nav-links .active{
    color: red;
}


/* *********************** HERO-SECTION *********************** */

.hero-section{
    background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0,0.5)),url(./Images/hero\ new.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    color: white;
}

.hero-section .hero-content{
    width: 700px;
    margin: auto 60px;
    animation: firstani;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
}

.hero-section .hero-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-section .hero-content h1 span{
    color: #E10600;
}

.hero-section .hero-content p{
    font-size: 20px;
    line-height: 1.5;
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 20px;
}

/* *********************** ABOUT MAIN SECTION *********************** */


.about-main-section{
   margin: 80px 0;
   min-height: 90vh;
}

.about-main-container{
    max-width: 1400px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-main-left{
    flex: 1;
    animation: secondani;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;
}
   
.about-main-left h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.about-main-left p{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 10px;
}
.about-main-left p:last-of-type{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
}    

.about-main-right{
    flex: 1;
    animation: secondani;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;
}
.about-main-right img{
    width: 100%;;
    height: 500px;
}


/* *********************** SERVICE MAIN SECTION *********************** */


.service-main-section{
    margin: 80px 0;
    text-align: center;

}
.service-main-section h2{
    font: 32px;
    margin-bottom: 10px;
}
.service-main-section p{
    font-size: 18px;
    margin-bottom: 20px;
}

.service-main-container{
    max-width: 1400px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
}

.service-main-container .service-main-card img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.service-main-container .service-main-card h3{
    font-size: 26px;
    margin-bottom: 15px;
}

.service-main-container .service-main-card p{
    color: gray;
}


/* *********************** CONTACT MAIN SECTION *********************** */

.contact-main-section{
    margin: 80px 0;
    background-color: white;
    display: flex;
    min-height: 80vh;
    
}

.contact-main-container{
    max-width: 1400px;
    width: 95%;
    margin: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.contact-main-left{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    text-align: center;
    min-height: 60vh;
}

.contact-main-left .contact-main-left-card{
    padding: 20px 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.contact-main-left .contact-main-left-card i{
    color: red;
    font-size:30px;
}

.contact-main-left .contact-main-left-card h4{
    margin: 10px 0;
    color: red;
    font-size: 18px;
}
.contact-main-left .contact-main-left-card p{
    margin-bottom: 10px;
    color: gray;
}

.contact-main-right{
    flex: 1.2;
    width: 100%;
    min-height: 60vh;
}

.contact-main-right .form-container h2{
    color: black;
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-main-right .form-container .input-box{
    display: flex;
    gap: 20px;
}

.contact-main-right .form-container input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

.contact-main-right .form-container .input-box textarea{
    height: 150px;
    width: 100%;
    resize: none;
    padding: 10px 20px;
    border: 1px solid lightgray;
}



.testimonial-section{
    margin: 80px 0;
    text-align: center;
}

.testimonial-section h2{
    font: 32px;
    margin-bottom: 10px;
}
.testimonial-section p{
    font-size: 18px;
    margin-bottom: 20px;
}

.testimonial-section .testimonial-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    text-align: center;
    
}

.testimonial-section .testimonial-container .testimonial-card{
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    padding: 20px;
}

.testimonial-section .testimonial-container .testimonial-card img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid red;
    margin-bottom: 15px;
}

.testimonial-section .testimonial-container .testimonial-card h3{
    color: black;
    margin-bottom: 10px;
}

.testimonial-section .testimonial-container .testimonial-card p{
    color: black;
    margin-bottom: 10px;
}
.testimonial-section .testimonial-container .testimonial-card .stars{
    color: gold;
    margin-bottom: 10px;
    
}

.testimonial-section .testimonial-container .testimonial-card p:last-of-type{
    color: rgb(56, 55, 55);
    margin-bottom: 10px;
}


/* *********************** MEMBERS *********************** */

.count-section{
    background: linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0,0.9)),url(./Images/members.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    max-width: 1200px;
    width: 90%;
    margin: 120px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
    padding: 40px;
}


.count-section .counter-box {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.count-section .counter-box h3{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.counter {
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: white;
}




/* *********************** OUR CLIENTS *********************** */

.client-carousel{
    margin: 80px 0;
    text-align: center;

}
.client-carousel h2{
    font: 32px;
    margin-bottom: 10px;
}
.client-carousel p{
    font-size: 18px;
    margin-bottom: 20px;
}

.client-carousel {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}


.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 25%;  /* 4 images at a time */
    padding: 10px;
}

.slide img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Arrow Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffffcc;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
}

.prev:hover, .next:hover {
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



/* *********************** SERVICE SECTION *********************** */

.hero-service{
    background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0,0.5)),url(./Images/service2.jpeg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;   
}


.hero-service .hero-service-content h3{
    font-size: 36px;
}



.tax-service p{
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}

.service-main{
    margin: 80px 0;
}


.servicemain-header{
    text-align: center;
    margin-bottom: 30px;
}
.service-main .servicemain-header h1{
    margin-bottom: 10px;
}

.servicemain-container{
    max-width: 1200px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 20px;
   
}

.servicemain-card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease;
}

.servicemain-card{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.servicemain-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    text-align: center;
}

.servicemain-card:hover img{
    transform: scale(1.5);
}

.servicemain-card i{
    color: red;
    font-size: 60px;
}

.servicemain-card h2{
    color: white;
    text-align: center;
    margin: 15px 0;
}

.servicemain-card p{
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.servicemain-card a{
    color: red;
    font-size: 18px;
    transition: 0.3s ease;
    text-transform: uppercase;
    margin-top: 10px;
}

.servicemain-card a:hover{
    color: white;
}






/* *********************** CONTACT SECTION *********************** */

.hero-contact{
    background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0,0.5)),url(./Images/contact\ background.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;   
}


.hero-contact .hero-contact-content h3{
    font-size: 36px;
}

.contact-section{
    margin: 80px 0;
    display: flex;
}

.contact-section .contact-container{
    max-width: 1400px;
    width: 95%;
    margin: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.contact-section .contact-container .contact-left{
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    text-align: center;
    height: 50vh;
}

.contact-section .contact-container .contact-left .contact-card{
    padding: 20px 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
}



.contact-section .contact-container .contact-left .contact-card i{
    color: red;
    font-size:30px;
}

.contact-section .contact-container .contact-left .contact-card h4{
    margin: 10px 0;
    color: red;
    font-size: 18px;
}
.contact-section .contact-container .contact-left .contact-card p{
    margin-bottom: 10px;
    color: gray;
}

.contact-section .contact-container .contact-right{
    flex: 1.2;
    width: 100%;
}


.contact-section .contact-container .contact-right .form-container{
    background-color: rgba(211, 211, 211, 0.178);
    padding: 40px 10px;
}

.contact-section .contact-container .contact-right .form-container .input-box{
    display: flex;
    gap: 20px;
}



.contact-section .contact-container .contact-right .form-container input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

.contact-section .contact-container .contact-right .form-container .input-box textarea{
    height: 150px;
    width: 100%;
    resize: none;
    padding: 10px 20px;
    border: 1px solid lightgray;
}


.map-section{
    margin: 80px 0;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}


.whatsapp{
    position: fixed;
    right: 20px;
    bottom: 30px;
}

.whatsapp img{
    width: 60px;
    height: 60px;
}





footer{
    background-color: black;
    width: 100%;
    color: white;
    margin-top: 80px;
    
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

.footer-container h3{
    margin: 40px 0;
}

.footer-container .contact-details strong{
    color: white;
}

.footer-container .contact-details p{
    margin: 20px 0;
    color: rgb(136, 131, 131);;
    line-height: 1.5;
}


.footer-container .link-details li{
    margin: 20px 0;
    list-style: none;
}

.footer-container .link-details li a{
    color: rgb(136, 131, 131);
    transition: 0.3s ease;
}

.footer-container .link-details li a:hover{
    color: red;
}

.footer-container .services-details li{
    margin: 20px 0;
    list-style: none;
}

.footer-container .services-details li a{
    color: rgb(136, 131, 131);
    transition: 0.3s ease;
}

.footer-container .services-details li a:hover{
    color: red;
}

.footer-container .social-icons{
    display: flex;
    gap: 30px;
}

.footer-container .social-icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(136, 131, 131);
    border-radius: 50%;
    margin-bottom: 80px;
}

.footer-container .social-icons i:hover{
    background-color: red;
    color: white;
}

.privacy a{
    color:rgb(136, 131, 131);
 }

 .privacy a:hover{
    color: red;
 }

.footer-bottom{
    text-align: center;
    padding: 40px 0;
}




/* *********************** TAX SERVICES *********************** */


.hero-taxservice{
    background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0,0.5)),url(./Images/servicce1.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;   
}


.hero-taxservice .hero-taxservice-content h3{
    font-size: 36px;
}

.taxservice-header p{
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding-top: 80px;
}

.tax-service{
    max-width: 1000px;
    width: 90%;
    margin: 80px auto;
    
    
}

.tax-service h4{
    margin: 40px 0 20px 0;
    font-size: 20px;
}

.tax-service ul li{
    color: gray;
    line-height: 2;
}


@keyframes firstani {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes secondani {
    0%{
        opacity: 0;
        scale: 0.5;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}

